.formContainer{
    display: block;
    text-align: center;
    margin-top: 5vh;
}
.busForm{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    text-align: left;
    display: inline-block;
}
.submit-btn{
    margin-top: 2vh;
    color: white;
    background-color: #05AFF2;
    border-color: #0476D9;
}
select{
    margin-bottom: 2vh;
    margin-top: 2vh;
}
form{
    margin: 2vh;
}
