.foot{
    display: flex;
    position: fixed;
    top: 90%;
    height: 10vh;
    width: 100%;
    color: white;
    background-color: #242424;
    justify-content: space-evenly;
}
.toe{
    border-left: 1px;
    border-right: 1px;
    width: 24vw;
    text-align: center;
    position:relative;
    color: white;
}
.toe:hover{
    color: white;
}
.toe > span{
    position: relative;
    top: 25%;
}
.map-container{
    margin: auto;
    padding-top: 5vh;
    position: relative;
    height: 80vh;
    width: 50vh;
}
.map-container-2{
    overflow:hidden;
    }
    .map-container-2 iframe{
    height:100%;
    width:100%;
    margin: auto;
    position: relative;
    }