.map-container{
    margin: auto;
    padding-top: 5vh;
    position: relative;
    height: 80vh;
    width: 50vh;
}
.map-container-2{
    overflow:hidden;
    }
    .map-container-2 iframe{
    height:100%;
    width:100%;
    margin: auto;
    position: relative;
    }