body {
    background-color: #F2F2F2;
    padding-top: 10vh;
}

#searchBar>* {
    margin-left: 10px;
}

/* Palette #2 */

/* #034AA6 */
/* #0476D9 */
/* #05AFF2 */
/* #F2B705 */
/* #F29F05 */

.navbar-light .navbar-brand {
    color: #034AA6 !important;
}

.bg-light {
    background-color: #05AFF2 !important;
}

.btn-outline-success {
    color: #F29F05;
    background-color: transparent;
    background-image: none;
    border-color: #F29F05;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #F29F05;
    border-color: #F29F05;
}




/* Palette #2 */

/* #F2C36B */
/* #F29D52 */
/* #BF754B */
/* #734E38 */
/* #F2F2F2 */

/* .navbar-light .navbar-brand {
    color: #734E38 !important;
}

.bg-light {
    background-color: #F29D52 !important;
}

.btn-outline-success {
    color: #F2F2F2;
    background-color: transparent;
    background-image: none;
    border-color: #F2F2F2;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #734E38;
    border-color: #F2F2F2;
} */