body {
    background-color: #F2F2F2;
    padding-top: 20vh;
}

#searchBar>* {
    margin-left: 10px;
}

#pageSpinner {
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -50%)
}

.fa-circle-o-notch {
    color: #F2B705;
}

form>button {
    width: 100%;
}

/* Palette #1 */

/* #034AA6 */
/* #0476D9 */
/* #05AFF2 */
/* #F2B705 */
/* #F29F05 */

.navbar-light .navbar-brand {
    color: #034AA6 !important;
}

.bg-light {
    background-color: #05AFF2 !important;
}

.btn-outline-success {
    color: #FFFFFF;
    background-color: #F29F05;
    background-image: none;
    border-color: #F29F05;
}

.btn-outline-success:hover {
    color: #FFFFFF;
    background-color: #F29F05;
    border-color: #F29F05;
}




/* Palette #2 */

/* #F2C36B */
/* #F29D52 */
/* #BF754B */
/* #734E38 */
/* #F2F2F2 */